/* Header Section */

.logout:hover {
  cursor: pointer;
}

/* login/create user */

.inputControl {
  width: 50%;
}

/* Transaction Table */

.tr:hover {
  transform: scale(1.05);
}

.date {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.delete {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.tTable {
  border-collapse: separate;
  border-spacing: 0 10px;
}
